
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #AAA;
}

.app-page-container {
    opacity: 0;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.app-page-container.loaded {
    opacity: 1;
}

.app-page-container, .app-page{
  min-height: 100%;
  min-width: 100%;
}

.page-header{
  background-color: rgb(104,92,130);
}

/* Setup Menu */

#setup-menu{

}

#setup-menu .card-container{
    margin: 0.25em;
    width:5em;
    height:7em;
}

/* Header */

#header{
  font-size: 24px;
  font-family: 'News Cycle', sans-serif;
}

/* Cards */

#card-area{
  padding: 1em;
}

.card-container{
  margin: 0.25em;
  width:5em;
  height:7em;
  -webkit-perspective: 20em;
  -ms-perspective: 20em;
  perspective: 20em;
}

.card{
  font-family: 'News Cycle', sans-serif;
  word-wrap: normal;
  text-align: center;
  line-height: 1.2em;
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  -webkit-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
}

.card > md-card{
  margin: 0;
  border-radius: 0.35em;
}

.card-flipped{
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-back, .card-front, .card-back-image{
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden ;
  -ms-backface-visibility: hidden ;
  backface-visibility: hidden ;
  z-index: 2;
}

.card-back{
  border: 0.35em solid #FFF;
  position: absolute;
  z-index: 1;
}

.card-back-image{
  border: 0.075em solid #111;
  border-radius: 0.15em;
  margin: -0.075em;
  background-image: url("../img/pattern3.png");
  background-position: center;
}

.card-front{
  overflow: hidden;
  padding: 0.25em;
  background-color: #FFF;
  color: #111;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

/* Animations */

.slide-animate.ng-enter, .slide-animate.ng-leave{
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
 }

.slide-animate.ng-enter.ng-enter-active {
 position: absolute;
 left: 1300px;
}

.slide-animate.ng-enter {
 left: 0;
}

.slide-animate.ng-leave.ng-leave-active {
 position: absolute;
 left: -1700px;
 }

.slide-animate.ng-leave {
 right: 0;
 }
