
html, body{
  height: 100%;
  width: 100%;
  background-color: #DDD;
}

/* Header */

#header{
  font-size: 24px;
  font-family: 'News Cycle', sans-serif;
}

/* Cards */

#card-area{
  padding: 1em;
}

.card-container{
  margin: 0.25em;
  width:5em;
  height:7em;
}

.card{
  font-family: 'News Cycle', sans-serif;
  word-wrap: normal;
  text-align: center;
  line-height: 1.2em;
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.25s;
}

.card > md-card{
  margin: 0;
  border-radius: 0.35em;
}

.card-flipped{
  -webkit-transform: rotateY(180deg);
}

.card-back, .card-front, .card-back-image{
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}

.card-back{
  border: 0.35em solid #FFF;
  position: absolute;
  z-index: 1;
}

.card-back-image{
  border: 0.075em solid #111;
  border-radius: 0.15em;
  margin: -0.075em;
  background-image: url("../img/pattern3.png");
  background-position: center;
}

.card-front{
  overflow: hidden;
  padding: 0.25em;
  background-color: #FFF;
  color: #111;
  -webkit-transform: rotateY(-180deg);
}
