
html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #AAA;
}

.app-page-container {
  position: relative;
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.app-page-container.loaded {
    opacity: 1;
}

.app-page-container, .app-page{
  height: 100%;
  width: 100%;
}

.page-panel{
  max-height: 100%;
  max-width: 100%;
}

.page-panel-header{
  background-color: rgb(104,92,130);
}

/* Setup Menu */

#setup-menu{

}

#setup-menu .card-container{
    margin: 0.25em;
    width:5em;
    height:7em;
}

/* Header */

#header{
  font-size: 24px;
  font-family: 'News Cycle', sans-serif;
}

/* Cards */

#card-area{
  padding: 1em;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.card-container{
  margin: 0.25em;
  width:5em;
  height:7em;
  -webkit-perspective: 15em;
  -ms-perspective: 15em;
  perspective: 15em;
}

.card{
  font-family: 'News Cycle', sans-serif;
  word-wrap: normal;
  text-align: center;
  line-height: 1.2em;
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  -webkit-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
}

.card > md-card{
  margin: 0;
  border-radius: 0.35em;
}

.card-flipped{
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-back, .card-front, .card-back-image{
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden ;
  -ms-backface-visibility: hidden ;
  backface-visibility: hidden ;
  z-index: 2;
}

.card-back{
  border: 0.35em solid #FFF;
  position: absolute;
  z-index: 1;
}

.card-back-image{
  border: 0.075em solid #111;
  border-radius: 0.15em;
  margin: -0.075em;
  background-image: url("../img/pattern3.png");
  background-position: center;
}

.card-front{
  overflow: hidden;
  padding: 0.25em;
  background-color: #FFF;
  color: #111;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

/* Animations */

.app-page-slide {
  -webkit-transition: -webkit-transform .7s ease;
  -ms-transition: -moz-transform .7s ease;
  transition: transform .7s ease;

  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.app-page-slide.ng-enter {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.app-page-slide.ng-enter.ng-enter-active, .slide.ng-leave {
    position: absolute;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.app-page-slide.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

/*
.app-page-slide {
  -webkit-transition: opacity .5s ease-out;
  -ms-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;

  visibility: visible;;
  opacity: 1;
}

.app-page-slide.ng-enter {
    opacity: 0;
    visibility: collapse;
}

.app-page-slide.ng-enter.ng-enter-active, .slide.ng-leave {
    position: absolute;
    opacity: 1;
    visibility: visible;;
}

.app-page-slide.ng-leave.ng-leave-active {
    opacity: 0;
    visibility: collapse;
}
*/
