<div ng-controller="CardsAreaController" layout="row" layout-align="center center">
  <md-card flex-gt-sm="80" class="page-panel md-whiteframe-6dp">
    <md-card-header class="page-panel-header" layout="column" layout-align="center center">
      <h3 class="site-header">depressingmemory.com</h3>
      <div id="card-area" class=" {{isLoading ? 'cards-hidden' : ''}}" ng-style="{ 'font-size' : fontSize }" layout="row" layout-align="center center" layout-wrap >
        <div class="card-container" ng-repeat="card in cards" >
          <div class="card {{card.isFlipped ? 'card-flipped' : ''}}" ng-click="flipCard(card)">
            <md-card class="md-whiteframe-6dp card-back">
              <div class="card-back-image"></div>
            </md-card>
            <md-card class="md-whiteframe-6dp card-front" layout="row" layout-align="center center" layout-wrap>
              <a href="{{card.url}}">
                <span style="font-size:{{card.fontSize}};" ng-bind="card.title"></span>
              </a>
            </md-card>
          </div>
        </div>
      </div>
    </md-card-header>
    <md-card-content layout="row" layout-align="space-between center">
      <div hide-xs layout="column" layout-align="center start">
        <span>Matches: {{matchedPairs}}</span>
        <span>Flips: {{flipCount}}</span>
      </div>
      <div layout="row">
        <md-button class="md-raised" ng-class="buttonClass" ng-click="buttonAction(buttonText)" ng-disabled="!isReady">{{buttonText}}</md-button>
        <span style="margin-left:36px;" class="game-timer" ng-class="{LessThan10SecondsLeft:pulsateColor}">
          {{timeLeft | date: 'mm:ss'}}
        </span>
      </div>
      <div layout="row">
        <md-button ng-click="goToMenu()" >Config</md-button>
      </div>
    </md-card-content>
  </md-card>

</div>
